.products-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Base styles */

/* Navigation Menu */
.navigation-menu {
  width: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ddd;
}

.navigation-menu .nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation-menu .nav-item {
  width: 100%;
}

.navigation-menu .nav-link {
  color: #333;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  font-weight: bold;
  border-bottom: 1px solid #f1f1f1;
}

.navigation-menu .nav-link.active {
  background-color: #f7f7f7;
}

.navigation-menu .nav-link:hover {
  background-color: #f1f1f1;
  color: #007bff;
  transform: scale(1.05);
  cursor: pointer;
}

/* Main Content */
/* General styles */
.restaurant-menu-frame {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  display: block;
  padding: 10px;
  color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: #e2e6ea;
}

/* Typography */
.new-dish-txt {
  font-weight: bold;
  font-size: 1.2em;
}

/* Table */
.dishes-table {
  margin-top: 20px;
}

.thead-light {
  background-color: #f8f9fa;
}

/* Form inputs */
.long-input {
  margin-bottom: 25px;
}

.half-input-frame {
  display: flex;
  justify-content: space-between;
}

.half-input {
  flex: 0 0 48%; /* Adjust the width as needed */
}

/* Images */
.img-frame {
  margin-top: 20px;
}

.upload-img-box {
  display: inline-block;
  width: 18%; /* Adjust the width as needed */
  margin-right: 2%;
  text-align: center;
}

.upload-img-box img {
  max-width: 100%;
  height: auto;
}

/* Operation buttons */
.operation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
